##### Python Lists

##### Introduction for collections in Python ,list
1. A list is a single variable where multiple items are stored in it.
2. Collections of data/ arrays are stored in python using:
    - Python lists : Ordered,changeable and allows duplicate members.
    - Python Tuple: Ordered,unchangeable and allows duplicate members.
    - Python Set : Unordered, unchangeable,unindexed,no duplicate members.
    - Python dictionary: Ordered,changeable, no duplicate members.
    All these above mentioned collections have different qualities and usage.
    We will discuss these characteritics in detail at the end.

Characteristics of list in Python:
1. Ordered
2. Changeable 
3. Allows duplicate members

In [78]:
# 1 Ordered
# lists are ordered - items in the list have a defined order, and that order will not change.
# When new items when added to a list, the new items will be placed at the end of the list.
# Ordered means presence of indexing
name_list = ['Sriram','Arjun','Vishnu','Sriram','Arjun','Vishnu']
# positive index
print("first item: ",name_list[0]) # first item
print("second item: ",name_list[1]) # second item
print("third item: ",name_list[2]) # third item
print("fourth item: ",name_list[3]) # fourth item
print("fifth item: ",name_list[4]) # fifth item
print("sixth item: ",name_list[5]) # sixth item
# negative index
print("last item: ",name_list[-1]) # last item
print("second last item: ",name_list[-2]) # second last item
print("third last item: " ,name_list[-3]) # third last item
print("fourth last item: ",name_list[-4]) # fourth last item
print("fifth last item: ",name_list[-5]) #fifth last item
print("sixth last item: " ,name_list[-6]) # sixth last item

first item:  Sriram
second item:  Arjun
third item:  Vishnu
fourth item:  Sriram
fifth item:  Arjun
sixth item:  Vishnu
last item:  Vishnu
second last item:  Arjun
third last item:  Sriram
fourth last item:  Vishnu
fifth last item:  Arjun
sixth last item:  Sriram

In [79]:
# 2 Changeable
# The items in the Python list can be changed, replaced, inserted, removed in other words it is mutable.....
name_list = ['Sriram','Arjun','Vishnu','Sriram','Arjun','Vishnu']
print(name_list)
name_list[0]="Vossum"
print(name_list)

['Sriram', 'Arjun', 'Vishnu', 'Sriram', 'Arjun', 'Vishnu']
['Vossum', 'Arjun', 'Vishnu', 'Sriram', 'Arjun', 'Vishnu']

In [ ]:
# 3 Allows duplicate items
name_list = ['Sriram','Arjun','Vishnu','Sriram','Arjun','Vishnu']
print(name_list)

In [80]:
#4 List items can be of any data type.
#Example: str, int,bool data types,list, tuple, set, dict 
list1 = ["strawberry", "avacado", "cherry"]
print(list1)
list2 = [1, 5, 7, 9, 3]
print(list2)
list3 = [True, False, False]
print(list3)
list4 = [1, 5, 7, 9, 3,["apple", "banana", "cherry"]]
print(list4)
list5 = [1, 5, 7, 9, 3,("apple", "banana", "cherry")]
print(list5)
list6 = [1, 5, 7, 9, 3,{"1":"apple", "2":"banana", "3":"cherry"}]
print(list6)

['strawberry', 'avacado', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
[1, 5, 7, 9, 3, ['apple', 'banana', 'cherry']]
[1, 5, 7, 9, 3, ('apple', 'banana', 'cherry')]
[1, 5, 7, 9, 3, {'1': 'apple', '2': 'banana', '3': 'cherry'}]

##### Find the length of the Python list

In [81]:
list6 = [1, 5, 7, 9, 3,{"1":"apple", "2":"banana", "3":"cherry"}]
print(len(list6))

6

##### General - type() verify if it is a list

In [82]:
print(type(list6))

<class 'list'>

##### Creating a list in Python

In [ ]:
# Lists are created using square brackets or list() constructor.

In [1]:
# Method 1- square brackets
chocolate_list = ["Kitkat", "Five star", "Snickers"]
print(chocolate_list)
# "Kitkat", "Five star", "Snickers" are items in the list 
# chocolate_list is the variable in which the entire list is stored

['Kitkat', 'Five star', 'Snickers']

In [2]:
#1 Exercise
# Create a new list of your favourite food with method 1
food=["chicken","biriyani","friderice"]
print(food)

['chicken', 'biriyani', 'friderice']

In [3]:
# Method 2 - list()
# we can use a list constructor to make a new list
chocolate_list = list(("Kitkat", "Five star", "Snickers")) # note the double round-brackets instead of using square brackets when creating a list using list constructor...
print(chocolate_list)

['Kitkat', 'Five star', 'Snickers']

In [5]:
#2 Exercise
# Create a new list of your favourite movies with method 2
movies=list(("Bigil","thunivu","vaathi"))
print(movies)

['Bigil', 'thunivu', 'vaathi']

##### Accessing a list in Python

In [ ]:
# How to access?
# All items in the list are indexed from 0 (known as index number) and you can access them by referring to the index number

##### Access using positive index

In [ ]:
#Postive indexing means the index starts from the start/beginning 
# 0 index refers to the first item, 
# 1 index refers to the second item,
# 2 index refers to the third item etc.

In [6]:
# print the third item in the list
chocolate_list = ["Kitkat", "Five star", "Snickers"]
print(chocolate_list[2]) # Use square brackets with the list_variable_name and give te correct index number......

Snickers

In [7]:
# 3 Exercise
# print the second item in the list
chocolate_list = ["Kitkat", "Five star", "Snickers"]
print(chocolate_list[1])

Five star

##### Access using negative index

In [ ]:
#Negative indexing means the index starts from the end 
#-1 index refers to the last item, 
#-2 index refers to the second last item,
#-3 index refers to the third last item

In [8]:
# print the last item in the list using negative index
chocolate_list = ["Kitkat", "Five star", "Snickers"]
print(chocolate_list[-1]) # Use square brackets with the list_variable_name and give te correct index number......

Snickers

In [9]:
# 4 Exercise
# print the first item in the list using negative index
chocolate_list = ["Kitkat", "Five star", "Snickers"]
print(chocolate_list[-3])

Kitkat

##### Range of indexes - Positive indexing

In [ ]:
# Purpose: Create a new list from existing list

In [10]:
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
new_chocolate = chocolate_list[2:5] # 2 is the start index -included, 5 is the end index and it will not get included, 
# chocolate_list is the existing list and new_chocolate is the new list created.....
print(new_chocolate)

['Snickers', 'Milky Way', 'Hershleys']

In [11]:
# 5 Exercise
# Create a new list from the below list from 0 to 2
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
update=chocolate_list[0:2]
print(update)

['Kitkat', 'Five star']

In [ ]:
# If you leave out the start value or start index, the range will start at the first index which is 0 in positive indexing.....

In [12]:
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list[0])
print(chocolate_list[4])
print(chocolate_list[5])
new_chocolate = chocolate_list[:5] # so the new_chocolate list starts at 0 index and ends at 5 but does not include the 5 index
print(new_chocolate)

Kitkat
Hershleys
Toblereno
['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys']

In [13]:
# 6 Exercise
# Create a new list from the below list from the beginning to second last item
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list[:5])

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys']

In [14]:
# leave out the end value to include till the last index
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list[2])
print(chocolate_list[-1])
new_chocolate = chocolate_list[2:]# so the new list starts at 2 index till the last index 
print(new_chocolate)

Snickers
Toblereno
['Snickers', 'Milky Way', 'Hershleys', 'Toblereno']

In [16]:
# 7 Exercise
# Create a new list from the below list from the 2 index to the last
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
new_list=chocolate_list[2:]
print(new_list)

['Snickers', 'Milky Way', 'Hershleys', 'Toblereno']

##### Range of indexing - Negative indexing

In [17]:
# Specify negative indexes if you want to start the search from the end of the list.....
# This example returns the items from "Snickers" (-4) to, but NOT including "Toblereno" (-1):
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list[-4:-1]) #follow the straightsequence

['Snickers', 'Milky Way', 'Hershleys']

In [20]:
# 8 Exercise
# Why this leads to error - empty list is formed......
new_chocolate = chocolate_list[-1:-4]
print(new_chocolate)
print(chocolate_list[-4:-1]) 
# answer: print(chocolate_list[-4:-1])

[]
['Snickers', 'Milky Way', 'Hershleys']

##### Check if some item exist in the list

In [23]:
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
if "Kitkat" in chocolate_list: # remember case sensitivity in strings
  print("Yes, 'Kitkat' is in the chocolate list")

Yes, 'Kitkat' is in the chocolate list

##### Change Item Values in a List

In [24]:
#To change the value of a specific item, refer to the index number and then give the new value - overwriting
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list)
chocolate_list[1] = "Mars"
print(chocolate_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno']
['Kitkat', 'Mars', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno']

In [26]:
# 9 Exercise
# Find the index of 'Snickers' in the list and replace it with 'Cadbury Fuse'
# Hint: .index() list pre defined method
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list)
a=chocolate_list.index("Snickers")
chocolate_list[a]="Cadbury Fuse"
print(chocolate_list)
"""
Answer:
print(chocolate_list)
index = chocolate_list.index("Snickers")
chocolate_list[index] = 'Cadbury Fuse'
print(chocolate_list)
"""

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno']
['Kitkat', 'Five star', 'Cadbury Fuse', 'Milky Way', 'Hershleys', 'Toblereno']

'\nAnswer:\nprint(chocolate_list)\nindex = chocolate_list.index("Snickers")\nchocolate_list[index] = \'Cadbury Fuse\'\nprint(chocolate_list)\n'

##### Change a range of Item values

In [27]:
# Change the values "Kitkat" and "Five star" with the values "M&M" and "Amul":
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list)
chocolate_list[0:2] = ["M&M","Amul"]
print(chocolate_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno']
['M&M', 'Amul', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno']

In [30]:
# Inserting less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
fruit_list = ["banana","apple", "cherry"]
print(fruit_list)
fruit_list[0:2] = ["watermelon"] # error - correcta mpount of values
print(fruit_list)

['banana', 'apple', 'cherry']
['watermelon', 'cherry']

##### Python - Adding Items in a List

##### Insert items

In [32]:
#Inserting a new list item means we are not replacing any of the existing values......
#insert() method is used and the index is specified......
#Insert "watermelon" as the third item.....
fruit_list = ["banana","apple", "cherry"]
print(fruit_list)
fruit_list.insert(2, "watermelon")
print(fruit_list) # cherry moves accordingly

['banana', 'apple', 'cherry']
['banana', 'apple', 'watermelon', 'cherry']

In [33]:
# something like replace and insert
fruit_list = ["banana","apple", "cherry"]
print(fruit_list)
fruit_list[1:2] = ["strawberry", "watermelon"] # here we are replacing only one time because we have mentione 1:2 meaning index 1 only 
# Excess item "watermelon" is added next in order and the remaing item "cherry" has moved to last
# this is how it works when you give excess items
print(fruit_list)

['banana', 'apple', 'cherry']
['banana', 'strawberry', 'watermelon', 'cherry']

##### Append Items

In [34]:
# Adding items to the end of the list uses append method
# append these fruit_list to chocolate list
fruit_list = ["banana","apple", "cherry"]
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list)
chocolate_list.append(fruit_list)
print(chocolate_list)
chocolate_list.append("orange") # append always adds to the end
print(chocolate_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno']
['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', ['banana', 'apple', 'cherry']]
['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', ['banana', 'apple', 'cherry'], 'orange']

##### Extend items

In [35]:
#['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', ['banana', 'apple', 'cherry'], 'orange']
# see the above list ['banana', 'apple', 'cherry'] is added as a list when using append()
fruit_list = ["banana","apple", "cherry"]
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list)
chocolate_list.extend(fruit_list)
print(chocolate_list)
chocolate_list.append("orange") # append always adds to the end
print(chocolate_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno']
['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'apple', 'cherry']
['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'apple', 'cherry', 'orange']

In [36]:
# any Iterable like tuple, sets, works fine with extend
fruit_list_tuple = ("banana","apple", "cherry")
chocolate_list = ["Kitkat", "Five star", "Snickers","Milky Way","Hershleys","Toblereno"]
print(chocolate_list)
chocolate_list.extend(fruit_list_tuple)
print(chocolate_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno']
['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'apple', 'cherry']

In [40]:
# 9 exercise
# Access 'apple' from the list find the index of the 'apple' and replace it with 'avacado'
chocolate_list = ['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', ['banana', 'apple', 'cherry'], 'orange']
chocolate_list[6][1] = 'avacado'
print(chocolate_list)
type(chocolate_list[6])

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', ['banana', 'avacado', 'cherry'], 'orange']

list

##### Delete Operation / Remove operation in a Python List

##### Remove Specified Item

In [41]:
# remove() method removes the specified item.
sweets_list = ['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'apple', 'cherry']
print(sweets_list)
sweets_list.remove("banana") # case sensitive
print(sweets_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'apple', 'cherry']
['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'apple', 'cherry']

In [42]:
# when there are duplicates
# it removes the first "banana" it find in the list
sweets_list = ['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana','banana','apple', 'cherry']
print(sweets_list)
sweets_list.remove("banana")
print(sweets_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple', 'cherry']
['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'apple', 'cherry']

In [44]:
# 10 exercise 
# remove the 2 'banana' using remove() method
sweets_list = ['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana','banana','apple', 'cherry']
sweets_list.remove("banana")
sweets_list.remove("banana")
print(sweets_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'apple', 'cherry']

##### Remove Specified Index - pop()

In [46]:
sweets_list = ['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana','banana','apple', 'cherry']
print(sweets_list)
sweets_list.pop(1)
print(sweets_list)
sweets_list.pop() # dont mention the index to remove the last item
print(sweets_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple', 'cherry']
['Kitkat', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple', 'cherry']
['Kitkat', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple']

##### Delete the last item - pop() - Dont mention any index

In [48]:
# if you dont mention any index in pop() method it removes the last item in the list
sweets_list = ['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana','banana','apple', 'cherry']
print(sweets_list)
sweets_list.pop() # "cherry" will be removed
print(sweets_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple', 'cherry']
['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple']

##### Remove Specified Index - del keyword

In [47]:
sweets_list = ['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana','banana','apple', 'cherry']
print(sweets_list)
del sweets_list[1]
print(sweets_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple', 'cherry']
['Kitkat', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple', 'cherry']

##### Clear the List

In [49]:
#clear() method empties the list but the list still remains, but it has no content. (empty list)
sweets_list = ['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana','banana','apple', 'cherry']
print(sweets_list)
sweets_list.clear() # whole list is emptied
print(sweets_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple', 'cherry']
[]

##### Delete the entire list - Deleting entire list

In [50]:
sweets_list = ['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana','banana','apple', 'cherry']
print(sweets_list)
del sweets_list # whole list is deleted
print(sweets_list)

['Kitkat', 'Five star', 'Snickers', 'Milky Way', 'Hershleys', 'Toblereno', 'banana', 'banana', 'apple', 'cherry']

NameError: name 'sweets_list' is not defined

##### Looping in Python lists

In [51]:
# In Python we use for loops to loop in a python list 
list6 = [1, 5, 7, 9, 3,{"1":"apple", "2":"banana", "3":"cherry"}]
for x in list6:
    print(x)

1
5
7
9
3
{'1': 'apple', '2': 'banana', '3': 'cherry'}

#####  Loop Through the Index Numbers - Python list

In [54]:
# In python we can loop through a list using list index numbers. 
# We use the range() and len() .....
list6 = [1, 5, 7, 9, 3,{"1":"apple", "2":"banana", "3":"cherry"}]
range_list = range(len(list6))
print(range_list)
print(type(range_list))
print(len(list6))
for i in range(len(list6)):
    print(list6[i])

range(0, 6)
<class 'range'>
6
1
5
7
9
3
{'1': 'apple', '2': 'banana', '3': 'cherry'}

##### Using a While Loop in Python lists

In [53]:
# Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.
# Remember to increase the index by 1 after each iteration.
list6 = [1, 5, 7, 9, 3,{"1":"apple", "2":"banana", "3":"cherry"}]
i = 0
while i < len(list6):
  print(list6[i])
  i = i + 1

1
5
7
9
3
{'1': 'apple', '2': 'banana', '3': 'cherry'}

###### List comprehension

In [55]:
# long form
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes"]
a_list_long = []
for x in fruits:
    if "a" in x:
        a_list_long.append(x)
print(a_list_long)

['avacado', 'pineapple', 'apple', 'banana', 'orange', 'mango', 'strawberry', 'grapes']

In [56]:
# short form ----- list comprehension
# Syntax: newlist = [expression for item in list if condition == True]
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes"]
a_list_short = [x for x in fruits if "a" in x]
print(a_list_short)

['avacado', 'pineapple', 'apple', 'banana', 'orange', 'mango', 'strawberry', 'grapes']

In [57]:
a_list_short == a_list_long

True

In [58]:
# 11 Exercise Make a new list from the fruits list if "b" and "a" in fruit name
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes"]
a_list_short = [x for x in fruits if "a" in x and "b" in x]
print(a_list_short)



# Don't see the answer
"""
new_list = [x for x in fruits if "b" in x and "a" in x]
print(new_list)
"""

['banana', 'strawberry']

'\nnew_list = [x for x in fruits if "b" in x and "a" in x]\nprint(new_list)\n'

In [62]:
# 12 Change each fruit in the list to upper case
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes"]
a_list_short = [x.upper() for x in fruits ]

print(a_list_short)
"""
newlist = [x.upper() for x in fruits]
print(newlist)

"""

['AVACADO', 'PINEAPPLE', 'APPLE', 'BANANA', 'CHERRY', 'ORANGE', 'KIWI', 'MANGO', 'STRAWBERRY', 'BLUEBERRY', 'GRAPES']

'\nnewlist = [x.upper() for x in fruits]\nprint(newlist)\n\n'

In [63]:
# 13 Change each fruit in the list to lower case
fruits =['AVACADO', 'PINEAPPLE', 'APPLE', 'BANANA', 'CHERRY', 'ORANGE', 'KIWI', 'MANGO', 'STRAWBERRY', 'BLUEBERRY', 'GRAPES']

newlist=[fruit.lower() for fruit in fruits]
print(newlist)

"""
newlist = [x.lower() for x in fruits]
print(newlist)
"""

['avacado', 'pineapple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'strawberry', 'blueberry', 'grapes']

'\nnewlist = [x.lower() for x in fruits]\nprint(newlist)\n'

In [64]:
# 14 For the list of numbers below create a new list using list comprehension where the numbers in the ne w list should be less than 100 and even number.
number_list = [1,2,4,5,6,7,8,10,12,14,15,16,17,18,20,23,25,88,99,102,106,108,108,109]

new_list= [x for x in number_list if x<100 and x%2==0]
print(new_list)

"""
newlist = [x for x in number_list if x < 100 and x % 2==0]
print(newlist)
"""

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 88]

'\nnewlist = [x for x in number_list if x < 100 and x % 2==0]\nprint(newlist)\n'

In [66]:
# 14 Create a new list of square numbers from number_list 
number_list = [1,2,4,5,6,7,8,10,12,14,15,16,17,18,20,23,25,88,99,102,106,108,108,109]
mylist=[x**2 for x in number_list]
print(mylist)


"""
newlist = [x**2 for x in number_list]
print(newlist)
"""

[1, 4, 16, 25, 36, 49, 64, 100, 144, 196, 225, 256, 289, 324, 400, 529, 625, 7744, 9801, 10404, 11236, 11664, 11664, 11881]

'\nnewlist = [x**2 for x in number_list]\nprint(newlist)\n'

##### Sort lists

###### Sort List Alphanumerically - ascending order - default

In [67]:
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes"]
fruits.sort()
print(fruits)

['apple', 'avacado', 'banana', 'blueberry', 'cherry', 'grapes', 'kiwi', 'mango', 'orange', 'pineapple', 'strawberry']

###### Sort List Alphanumerically - descending order

In [68]:
# Works only when all our strings in the list
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes"]
fruits.sort(reverse = True)
print(fruits)

['strawberry', 'pineapple', 'orange', 'mango', 'kiwi', 'grapes', 'cherry', 'blueberry', 'banana', 'avacado', 'apple']

###### Sort the list numerically - acending order - default

In [69]:
# Works only when all our integers in the list
unordered_number_list = [8,89,9,7,3,1,4,4,5,78,90,89,999]
unordered_number_list.sort()
print(unordered_number_list)

[1, 3, 4, 4, 5, 7, 8, 9, 78, 89, 89, 90, 999]

###### Sort the list numerically - descending order

In [70]:
# Works only when all our integers in the list
unordered_number_list = [8,89,9,7,3,1,4,4,5,78,90,89,999]
unordered_number_list.sort(reverse = True)
print(unordered_number_list)

[999, 90, 89, 89, 78, 9, 8, 7, 5, 4, 4, 3, 1]

##### Case Insensitive Sort

In [71]:
# capital letters are sorted before lower case letters
# because of case sensitivity
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes",'AVACADO', 'PINEAPPLE', 'APPLE', 'BANANA', 'CHERRY', 'ORANGE', 'KIWI', 'MANGO', 'STRAWBERRY', 'BLUEBERRY', 'GRAPES']
fruits.sort()
print(fruits)

['APPLE', 'AVACADO', 'BANANA', 'BLUEBERRY', 'CHERRY', 'GRAPES', 'KIWI', 'MANGO', 'ORANGE', 'PINEAPPLE', 'STRAWBERRY', 'apple', 'avacado', 'banana', 'blueberry', 'cherry', 'grapes', 'kiwi', 'mango', 'orange', 'pineapple', 'strawberry']

In [72]:
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes",'AVACADO', 'PINEAPPLE', 'APPLE', 'BANANA', 'CHERRY', 'ORANGE', 'KIWI', 'MANGO', 'STRAWBERRY', 'BLUEBERRY', 'GRAPES']
fruits.sort(key = str.lower)
print(fruits)

['apple', 'APPLE', 'avacado', 'AVACADO', 'banana', 'BANANA', 'blueberry', 'BLUEBERRY', 'cherry', 'CHERRY', 'grapes', 'GRAPES', 'kiwi', 'KIWI', 'mango', 'MANGO', 'orange', 'ORANGE', 'pineapple', 'PINEAPPLE', 'strawberry', 'STRAWBERRY']

###### Reverse order of the list without sorting

In [73]:
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes"]
fruits.reverse()
print(fruits)

['grapes', 'blueberry', 'strawberry', 'mango', 'kiwi', 'orange', 'cherry', 'banana', 'apple', 'pineapple', 'avacado']

##### Copy Lists

In [ ]:
# What you can't do , you cant copy a list like :
# list_1 = list_2
# because it will reference to the same memory
# any changes done in list 2 will affect list 1

In [74]:
# method 1 - copy() method
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes"]
new_fruit_list = fruits.copy()
print(fruits)
print(new_fruit_list)
print(new_fruit_list == fruits)
new_fruit_list[1] = "chocolate"
print(fruits)
print(new_fruit_list)

['avacado', 'pineapple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'strawberry', 'blueberry', 'grapes']
['avacado', 'pineapple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'strawberry', 'blueberry', 'grapes']
True
['avacado', 'pineapple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'strawberry', 'blueberry', 'grapes']
['avacado', 'chocolate', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'strawberry', 'blueberry', 'grapes']

In [75]:
# method 2 - list() method
fruits = ["avacado","pineapple","apple", "banana", "cherry","orange", "kiwi", "mango","strawberry","blueberry","grapes"]
new_fruit_list = list(fruits)
print(fruits)
print(new_fruit_list)
print(new_fruit_list == fruits)
new_fruit_list[1] = "chocolate"
print(fruits)
print(new_fruit_list)

['avacado', 'pineapple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'strawberry', 'blueberry', 'grapes']
['avacado', 'pineapple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'strawberry', 'blueberry', 'grapes']
True
['avacado', 'pineapple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'strawberry', 'blueberry', 'grapes']
['avacado', 'chocolate', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'strawberry', 'blueberry', 'grapes']

##### Join lists

##### Join two or more lists

In [76]:
# method 1 Use + operator on lists
first_list = ["a", "b", "c","o","m","l","s"]
second_list = [7,1,7, 2, 3,8,3.14,5,5,5,5]
third_list = first_list + second_list
print(third_list)

['a', 'b', 'c', 'o', 'm', 'l', 's', 7, 1, 7, 2, 3, 8, 3.14, 5, 5, 5, 5]

In [77]:
# method 2 -extend
first_list = ["a", "b", "c","o","m","l","s"]
second_list = [7,1,7, 2, 3,8,3.14,5,5,5,5]
first_list.extend(second_list)
third_list = first_list.copy()
print(third_list)

['a', 'b', 'c', 'o', 'm', 'l', 's', 7, 1, 7, 2, 3, 8, 3.14, 5, 5, 5, 5]

##### Assignement part 3 - List methods
1. append()
2. clear()	
3. copy()	
4. count()	
5. extend()	
6. index()	
7. insert()	
8. pop()	
9. remove()	
10. reverse()	
11. sort()

##### Python Tuples

##### Characteristics of Python tuples

1. Tuples are like Python lists used to store multiple items in a single variable.
2. Tuple is one among-the data types in Python used to store collections of data, the others are List, Set, and Dictionary.
3. A tuple is a collection which is ordered and unchangeable.
4. Allows duplicate items.
5. Only difference between Python lists and Python tuples is that Python tuples are unchangeable/you cant modify a tuple after creation but you can combine two tuples or by converting them to a list and back to a tuple..... - explained in point 3

In [105]:
#1 Tuples are like Python lists used to store multiple items in a single variable.
tuple_1 = ("strawberry", "pineberry", "blueberry")
print(tuple_1)

('strawberry', 'pineberry', 'blueberry')

In [106]:
#2 Tuple is one among-the data types in Python used to store collections of data, the others are List, Set, and Dictionary.
list_1 = ["strawberry", "pineberry", "blueberry"]
print(list_1)
print(type(list_1))
tuple_1 = ("strawberry", "pineberry", "blueberry")
print(tuple_1)
print(type(tuple_1))

['strawberry', 'pineberry', 'blueberry']
<class 'list'>
('strawberry', 'pineberry', 'blueberry')
<class 'tuple'>

In [107]:
#3 A tuple is a collection which is ordered and unchangeable.
# ordered means it is indexed in sequence
tuple_1 = ("strawberry", "pineberry", "blueberry")
print(tuple_1)
print(type(tuple_1))
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])

('strawberry', 'pineberry', 'blueberry')
<class 'tuple'>
strawberry
pineberry
blueberry

In [108]:
# unchangeable means it cant be modified
tuple_1[0] = "chocolate"

TypeError: 'tuple' object does not support item assignment

In [109]:
#4 Allows duplicate items.
tuple_1 = ("strawberry", "pineberry", "blueberry""strawberry", "pineberry", "blueberry")
print(tuple_1)
print(type(tuple_1))
print(tuple_1[0])
print(tuple_1[3])

('strawberry', 'pineberry', 'blueberrystrawberry', 'pineberry', 'blueberry')
<class 'tuple'>
strawberry
pineberry

In [ ]:
#Only difference between Python lists and Python tuples is that Python tuples are unchangeable/you cant modify a tuple after creation but you can combine two tuples or by converting them to a list and back to a tuple..... - explained in point 3

##### Create a tuple with ()

In [83]:
# method 1 - () brackets
tuple_1 = ("strawberry", "pineberry", "blueberry")
print(tuple_1)

('strawberry', 'pineberry', 'blueberry')

In [84]:
# method 2 - tuple() - tuple constructor
tuple_1 = tuple(("strawberry", "pineberry", "blueberry")) # double round-brackets when you use a constructor
print(tuple_1)

('strawberry', 'pineberry', 'blueberry')

##### type() function

In [85]:
tuple_1 = tuple(("strawberry", "pineberry", "blueberry")) # double round-brackets when you use a constructor
print(tuple_1)
print(type(tuple_1))

('strawberry', 'pineberry', 'blueberry')
<class 'tuple'>

##### Create a tuple with one item - special case

In [86]:
list_1 = ["strawberry"]
print(type(list_1))

<class 'list'>

In [87]:
tuple_1 = ("strawberry") # This will be considered as a string
print(type(tuple_1))

<class 'str'>

In [88]:
tuple_1 = ("strawberry",) # This will be considered as a tuple because comma was added
print(type(tuple_1))

<class 'tuple'>

##### Find the length of the tuple

In [89]:
#use len() method - works on lists as well......
tuple_1 = ("strawberry", "pineberry", "blueberry""strawberry", "pineberry", "blueberry")
print(tuple_1)
print(len(tuple_1))

('strawberry', 'pineberry', 'blueberrystrawberry', 'pineberry', 'blueberry')
5

#### A tuple can have many datatypes

In [90]:
# str
tuple_1 = ("strawberry", "pineberry", "blueberry")
print(tuple_1)

('strawberry', 'pineberry', 'blueberry')

In [91]:
# int
tuple_2 = (1,2,3,4)
print(tuple_2)

(1, 2, 3, 4)

In [92]:
# bool
tuple_3 = (True, False, True)
print(tuple_3)

(True, False, True)

In [93]:
# list
tuple_4 = (True, False, True,[1,2,3,4])
print(tuple_4)
print(type(tuple_4[3]))

(True, False, True, [1, 2, 3, 4])
<class 'list'>

In [94]:
# tuple
tuple_5 = (True, False, True,(1,2,3,4))
print(tuple_5)
print(type(tuple_5[3]))

(True, False, True, (1, 2, 3, 4))
<class 'tuple'>

In [95]:
#dictionary and set as well
tuple_6 = (True, False, True,{1:2,3:4})
print(tuple_6)
print(type(tuple_6[3]))
tuple_7 = (True, False, True,{"dark chocolate", "milk chocolate", "white chocolate"})
print(tuple_7)
print(type(tuple_7[3]))

(True, False, True, {1: 2, 3: 4})
<class 'dict'>
(True, False, True, {'dark chocolate', 'milk chocolate', 'white chocolate'})
<class 'set'>

In [96]:
# Accessing the tuple is same as accessing a list with square brackets and index in it.
# positive index
tuple_7 = (True, False, True,{"dark chocolate", "milk chocolate", "white chocolate"})
print(tuple_7)
print(tuple_7[0])
print(tuple_7[1])
print(tuple_7[2])
print(tuple_7[3])

(True, False, True, {'dark chocolate', 'milk chocolate', 'white chocolate'})
True
False
True
{'dark chocolate', 'milk chocolate', 'white chocolate'}

In [97]:
# negative index
tuple_7 = (True, False, True,{"dark chocolate", "milk chocolate", "white chocolate"})
print(tuple_7)
print(tuple_7[-1])
print(tuple_7[-2])
print(tuple_7[-3])
print(tuple_7[-4])

(True, False, True, {'dark chocolate', 'milk chocolate', 'white chocolate'})
{'dark chocolate', 'milk chocolate', 'white chocolate'}
True
False
True

In [98]:
# range of indices
tuple_7 = (True, False, True,{"dark chocolate", "milk chocolate", "white chocolate"})
print(tuple_7)
print(tuple_7[0:2])
print(tuple_7[:2])
print(tuple_7[2:])
print(tuple_7[-4:-1])

(True, False, True, {'dark chocolate', 'milk chocolate', 'white chocolate'})
(True, False)
(True, False)
(True, {'dark chocolate', 'milk chocolate', 'white chocolate'})
(True, False, True)

In [99]:
# This does not work when using negative index
print(tuple_7[-1:-4]) # empty tuple is returned

()

##### Update tuple

In [ ]:
# Unchangeable characteristic of tuple.
# Only difference between Python lists and Python tuples is that Python tuples are unchangeable/you cant modify a tuple after creation but you can combine two tuples or by converting them to a list and back to a tuple..... - explained in point 3

##### Update Tuple Values

In [100]:
x = ("dark chocolate", "milk chocolate", "white chocolate")
print(type(x))
y = list(x) # convert tuple to a list , different variable because the original ist should be unaltered - remember copy()
print(type(y))
y[1] = "kiwi" # change whatever in the list
x = tuple(y) # convert back to tuple
print(type(x))
print(x)

<class 'tuple'>
<class 'list'>
<class 'tuple'>
('dark chocolate', 'kiwi', 'white chocolate')

###### Adding Items

In [101]:
# method 1 - convert into a list
x = ("dark chocolate", "milk chocolate", "white chocolate")
print(x)
y = list(x)
y.append("orange")
x = tuple(y)
print(x)

('dark chocolate', 'milk chocolate', 'white chocolate')
('dark chocolate', 'milk chocolate', 'white chocolate', 'orange')

In [102]:
# method 2 - add tuple to tuple - Join tuples
x = ("dark chocolate", "milk chocolate", "white chocolate")
print(x)
y = ("orange",) # should add "," for tuple or considered as string
x += y # same as x = x+y
print(x)

('dark chocolate', 'milk chocolate', 'white chocolate')
('dark chocolate', 'milk chocolate', 'white chocolate', 'orange')

##### Multiply Tuples

In [103]:
# repeating items
chocolates = ("dark chocolate", "milk chocolate", "white chocolate")
newtuple = chocolates * 2
print(newtuple)

('dark chocolate', 'milk chocolate', 'white chocolate', 'dark chocolate', 'milk chocolate', 'white chocolate')

##### Unpacking a tuple

In [104]:
# In creating a tuple, we normally assign values to it. This is called "packing" a tuple.
chocolates = ("dark chocolate", "milk chocolate", "white chocolate")
(dark,milk,white) = chocolates # just the reverse of packing
print(dark)
print(milk)
print(white)

dark chocolate
milk chocolate
white chocolate

##### Assignement part  4 - Tuple methods
1. count()	
2. index()