##### Python Sets

###### Create Python Sets

In [3]:
# method 1 {} brackets or Sets are declared with curly brackets.
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
print(chocolate_set)

{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}

###### type() function

In [4]:
print(type(chocolate_set))

<class 'set'>
<class 'set'>

In [5]:
# method 2 - set() constructor
chocolate_set = set(("Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"))
# important note: double round-brackets when usimg a constructor
print(chocolate_set)
print(type(chocolate_set))

{'Dairy Mlk - Caramel', 'Dairy Mlk - fruit & Nut', 'Kitkat', 'Dairy Mlk - Oreo', 'Dairy Mlk - Silk', 'Five star'}
<class 'set'>
{'Dairy Mlk - Caramel', 'Dairy Mlk - fruit & Nut', 'Kitkat', 'Dairy Mlk - Oreo', 'Dairy Mlk - Silk', 'Five star'}
<class 'set'>

###### len()  function

In [6]:
chocolate_set = set(("Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"))
print(len(chocolate_set))

6
6

##### Access Set Items

In [ ]:
# Sets cannot be accessed by indexing because the items in a set are not indexed

In [9]:
# method 1 - looping - use for to loop through sets because indexing is not present in sets
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
for x in chocolate_set:
    print(x)
# note it is not in the order we have specified
# python uses hash tables for storing items in a set and duplicates are not allowed.....

Dairy Mlk - Caramel
Dairy Mlk - Silk
Dairy Mlk - fruit & Nut
Five star
Kitkat
Dairy Mlk - Oreo
Dairy Mlk - Caramel
Dairy Mlk - Silk
Dairy Mlk - fruit & Nut
Five star
Kitkat
Dairy Mlk - Oreo

In [10]:
# method 2 - Finding if a specified value is present in a set  by using the 'in' keyword.
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
print("Five star" in chocolate_set)
print("five Star" in chocolate_set) # remember case sensitivity
print("Dairy Mlk - fruit & Nut" in chocolate_set)

True
False
True
True
False
True

##### Change set items

In [11]:
# since a set does not allow duplicate items converting it to list and back may lead to errors
# One of the use cases of a set is to eliminate duplicates
# method 1
list1 = [1,1,2,3,3,3,4,5,5,5,5,5,6,6,7,8,9,11]
print(list1)
print(type(list1))
list1 = set(list1) # eliminate duplicates from list
print(list1)
print(type(list1))
list1 = list(list1)
print(list1)
print(type(list1))
# on converting to set from list will it be random differing the order orindex of the list

[1, 1, 2, 3, 3, 3, 4, 5, 5, 5, 5, 5, 6, 6, 7, 8, 9, 11]
<class 'list'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}
<class 'set'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]
<class 'list'>
[1, 1, 2, 3, 3, 3, 4, 5, 5, 5, 5, 5, 6, 6, 7, 8, 9, 11]
<class 'list'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}
<class 'set'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]
<class 'list'>

In [12]:
# method 2
# After a set is created, you cannot change its items, but you can add new items using add() method.
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
print(chocolate_set)
chocolate_set.add("Cadbury Dairy milk Temptations") # it will not be ordered, the item will belong to the set if it is unique
print(chocolate_set)

{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Cadbury Dairy milk Temptations', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Cadbury Dairy milk Temptations', 'Kitkat', 'Dairy Mlk - Oreo'}

In [13]:
# method 3 Adding Sets - use update() method
fruits = {"strawberry", "blueberry", "pineberry"}
print(type(fruits))
tropical_fruits = {"pineapple", "mango", "papaya"}
print(type(tropical_fruits))
fruits.update(tropical_fruits) # only unduplicate unique values
print(fruits)

<class 'set'>
<class 'set'>
{'papaya', 'pineberry', 'strawberry', 'mango', 'blueberry', 'pineapple'}
<class 'set'>
<class 'set'>
{'papaya', 'pineberry', 'strawberry', 'mango', 'blueberry', 'pineapple'}

In [15]:
# method 4 Add Any Iterable/ Collection like tuples, lists, dictionaries 
fruits = {"strawberry", "blueberry", "pineberry"}
print(type(fruits))
tropical_fruits = ["pineapple", "mango", "papaya",'strawberry'] # list
print(type(tropical_fruits))
fruits.update(tropical_fruits) # only unduplicate unique values
print(fruits)

<class 'set'>
<class 'list'>
{'pineberry', 'blueberry', 'mango', 'papaya', 'strawberry', 'pineapple'}
<class 'set'>
<class 'list'>
{'pineberry', 'blueberry', 'mango', 'papaya', 'strawberry', 'pineapple'}

##### Remove Set items

In [ ]:
# remember we cant use index in sets

In [16]:
# method 1 - remove() method .....
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
print(chocolate_set)
chocolate_set.remove("Kitkat") # it will not be ordered, the item will belong to the set if it is unique
print(chocolate_set)
# Important note: If the item to remove does not exist, remove() will raise an error.

{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Dairy Mlk - Oreo'}

In [17]:
# method 2 - discard() method .....
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
print(chocolate_set)
chocolate_set.discard("Kitkat") # it will not be ordered, the item will belong to the set if it is unique
print(chocolate_set)
# Important note: If the item to remove does not exist, discard() will not raise an error.

{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Dairy Mlk - Oreo'}

In [18]:
# method 3 - pop() method
# by default last item will be removed and removed item will be returned
# Sets are unordered, so when using the pop() method, you do not know which item that gets removed.
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
print(chocolate_set)
removed_item = chocolate_set.pop() # it will not be ordered, the item will belong to the set if it is unique
print(chocolate_set)
print(removed_item)

{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
Dairy Mlk - Caramel
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
Dairy Mlk - Caramel

In [19]:
# method 4 - clear() - empty set
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
print(chocolate_set)
chocolate_set.clear() # it will not be ordered, the item will belong to the set if it is unique
print(chocolate_set) # empty set
# Why set()

{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
set()
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
set()

In [20]:
# method 5 - del keyword - delete  the entire set
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
print(chocolate_set)
del chocolate_set # it will not be ordered, the item will belong to the set if it is unique
print(chocolate_set)

{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}

NameError: name 'chocolate_set' is not defined

NameError: name 'chocolate_set' is not defined

##### Join Sets

In [21]:
# method 1 -  The union() method returns a new set with all items from both sets.
set1 = {"h", "e" , "a"}
set2 = {9, 7, 5,7,10}
set3 = set1.union(set2)
print(set3)

{'h', 5, 'e', 7, 9, 10, 'a'}
{'h', 5, 'e', 7, 9, 10, 'a'}

In [22]:
# method 2 - The update() method inserts the items in set2 into set1.
set1 = {"h", "e" , "a"}
set2 = {9, 7, 5,7,10}
set1.update(set2)
print(set1)

{'h', 5, 'e', 7, 9, 10, 'a'}
{'h', 5, 'e', 7, 9, 10, 'a'}

In [ ]:
# Important union() and update() will exclude any duplicate items if present.....
# because sets does not allow duplicate characters

In [23]:
# method 3 Keep only the duplicates
#intersection_update() method will keep only the items that are present in both sets.
# something like venn diagram
x = {1,5,6,7,8,9,10}
y = {1,5,7,3,2}
x.intersection_update(y)
print(x)

{1, 5, 7}
{1, 5, 7}

In [24]:
# method 4 - returns same as method 3
x = {1,5,6,7,8,9,10}
y = {1,5,7,3,2}
z = x.intersection(y)
print(z)

{1, 5, 7}
{1, 5, 7}

In [25]:
# method 5 - keep all but not the duplicates - symmetric_difference_update() method 
x = {1,5,6,7,8,9,10}
y = {1,5,7,3,2}
x.symmetric_difference_update(y)
print(x)

{2, 3, 6, 8, 9, 10}
{2, 3, 6, 8, 9, 10}

In [26]:
# method 6 - keep all but not the duplicates - same as method 5 but reurns a new set with all but duplicates
x = {1,5,6,7,8,9,10}
y = {1,5,7,3,2}
z = x.symmetric_difference(y)
print(z)

{2, 3, 6, 8, 9, 10}
{2, 3, 6, 8, 9, 10}

##### Assignement part 6
##### Set Methods
1. add()	
2. clear()	
3. copy()	
4. difference()	
5. difference_update()	
6. discard()	
7. intersection()	
8. intersection_update()	
9. isdisjoint()	
10. issubset()	
11. issuperset()	
12. pop()	
13. remove()	
14. symmetric_difference()	
15. symmetric_difference_update()	
16. union()
17. update()

##### Characteristics of Sets

Definition of a set: A set is an unordered collection of unduplicate items or distinct hashable objects.
1. Sets are not ordered - Unordered means not indexed.
2. They are unchangeable - Like Python tuples.
3. They do not allow duplicate elements.

In [27]:
#1 Sets are not ordered - Unordered means not indexed.
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
print(chocolate_set)
# cannot be accessed by index but only by using for loops or in keyword
# it is because python uses hash tables to store sets

{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'Dairy Mlk - Oreo'}

In [ ]:
#2 Sets cannot be changed but items can be added - Refer add items

In [ ]:
#3 Sets does not allow duplicates 
# One of the use cases is to eliminates duplicates from a Python lists using Python sets......

##### Reasons for using Python sets

In [ ]:
# Sets are faster than list.....
# Sets are implemented using hash tables.
# In order to search an item in the set it is much faster then finding an item in a Python list.

In [ ]:
# refer: https://towardsdatascience.com/python-lists-vs-sets-39bd6b5745e1

In [ ]:
# Venn diagram operations

###### Exercises

In [29]:
# check if "Kitkat" is present in chocolate set 
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
"Kitkat" in chocolate_set

True

True

In [30]:
# check if "cadbury fuse" is present in chocolate set 
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
"cadbury fuse" in chocolate_set

False

False

In [31]:
# use add method to add "cadbury fuse" in chocolate list
chocolate_set = {"Five star", "Kitkat", "Dairy Mlk - fruit & Nut","Dairy Mlk - Silk","Dairy Mlk - Caramel","Dairy Mlk - Oreo"}
chocolate_set.add("cadbury fuse")
print(chocolate_set)

{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'cadbury fuse', 'Dairy Mlk - Oreo'}
{'Dairy Mlk - Caramel', 'Dairy Mlk - Silk', 'Dairy Mlk - fruit & Nut', 'Five star', 'Kitkat', 'cadbury fuse', 'Dairy Mlk - Oreo'}

In [32]:
# update the fruits set with tropical fruits set using update()
fruits = {"strawberry", "blueberry", "pineberry"}
tropical_fruits = {"pineapple", "mango", "papaya"}
fruits.update(tropical_fruits)
print(fruits)

{'papaya', 'pineberry', 'strawberry', 'mango', 'blueberry', 'pineapple'}
{'papaya', 'pineberry', 'strawberry', 'mango', 'blueberry', 'pineapple'}

In [36]:
# remove "pineberry" from fruits set use remove()
fruits = {"strawberry", "blueberry", "pineberry"}
fruits.remove("pineberry")
print(fruits)

{'strawberry', 'blueberry'}
{'strawberry', 'blueberry'}

In [ ]:
# why we use discard() when remove() method exists.....
# answer discard( will raise an error but remove( ) will raise an error.....